
<h3> Chat </h3>

I am: {{ currentUser.username }}

<form (ngSubmit)="sendMessage()" #messageForm="ngForm">
    <input type="text"
           name="text"
           #text="ngModel"
           [(ngModel)]="message.text"
           required >

    <button type="submit">
        Send
    </button>
</form>

<h4> Online Users (click to chat) </h4>
<ul>
    <li *ngFor="let user of onlineUsers"
        (click)="sendMessageTo(user)">
        {{ user.username }}
    </li>
</ul>

<ul *ngFor="let convo of activeConversations">
    <li></li>
</ul>
